# Ignore the config folder inside the server folder
/server/config/

# Node.js specific files
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# TypeScript specific files
*.tsbuildinfo
*.log
*.tlog
*.tmp.ts
*.tmp.tsx

# React specific files
/build/
/.cache/
/public/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.orig
*.sublime*
*.iml
*.log
.DS_Stor
.env
file-import-ui/.env
server/.env